$primary: #A793B8;
$border-color: #A793B8;
$box-shadow:0 0 0 .25rem rgba(167, 147, 184, .7);
$hover-color:#fff;
$color: #fff;


.btn {
  border-radius: 3px;
  padding: .4rem 2rem;
  height: 3rem;
}


.btn-primary {
  color: $color;
  background-color: $primary !important;
  border-color: $border-color !important;
  transition: .7s;

  &:hover {
    color: $color;
    background-color: $hover-color !important;
    border-color: $primary !important;
    color: $primary;
    transition: .7s;
    color: #000;
  }
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: $color;
  background-color: $primary !important;
  border-color: $border-color !important;
  box-shadow: $box-shadow !important;
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
  color: $color;
  background-color: $primary !important;
  border-color: $border-color !important;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: $box-shadow !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: $color;
  background-color: $primary !important;
  border-color: $border-color !important;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: $color;
}

