@import'./button';
@import'./checkbox';
@import'./input';

$color:#A793B8;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Pacifico&family=Sacramento&display=swap');


body{
  font-family: 'Roboto',sans-serif;
}

.login__form {
  height: 100%;
  & button img {
    height: 25px;
    width: 25px;
  }
  & .forget a,
  .register a {
    color: $color
  }
  // logo img
  & .logo_img img{
    width: 50%;
  }

  // 
  & .display-4 p{
    color: #b3b3b3;
    font-family: 'Pacifico', cursive;
    // font-family: 'Caveat', cursive;
    // font-family: 'Sacramento', cursive;
  }

}


// desktop img

.login100-more {
  position: relative;
  width: 100%;
  height: 100%;

  & img{
    height: 100%;
    position: absolute;
    object-fit: cover;
  }

  & .rgba {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
  }
 
}


// horizontal line
.login__form{
  & h6 {
    display: flex;
    flex-direction: row;
  }

  & h6:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #bfbfbf;
    margin: auto;
    display: flex;
    display: flex;
    margin-left: 15px;

  }

  & h6:before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #bfbfbf;
    margin: auto;
    display: flex;
    margin-right: 15px;
  }

}

